table {
    width: 96%;
    border-collapse: collapse;
    margin: 20px 25px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: var(--ion-color-light-contrast);
    opacity: 0.5;
    color: var(--ion-color-primary-contrast, #fff);
  }

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
}

.customer-photo {
  width: 100px;
  height: 100px;
}

.button {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}